<header class="site-header">

  <div class="wrapper">
    <div class="headercontainer">
        <div class="logo">
            <img src="http://placehold.it/100x100">
        </div>
        <div class="MainTitel">
            <H1>{{ site.title }}</H1>
        </div>
    </div>
    <nav class="Menu">
        <a href="index.html">Home</a>
        <a href="contact.html">Anfahrt/Kontakt</a>
        <a href="product.html">Produkte</a>
        <a href="impressum.html">Impressum</a>
    </nav>
    

  </div>

</header>
